footer{
    grid-area: pie;
    background-color: $color_fondo2;
}

.grillafinal{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 30%;
    grid-template-rows: 25% 1px 1fr 1px 1fr;
    grid-template-areas: 
    'titulo titulo'
    'sep1 sep1'
    'info qr'
    'sep2 sep2'
    'redes play';

    .menufinal-titulo{
        grid-area: titulo;
        @include margen-footer(10vh, 2%);
        text-align: start;
    }

    .menufinal-info{
        grid-area: info;
        @include margen-footer(10vh, 2%);
    }

    .sep1{
        grid-area: sep1;
        height: 1px;
        margin: 0 5%;
        border-top: 1px solid black;
    }

    .sep2{
        grid-area: sep2;
        height: 1px;
        margin: 0 5%;
        border-top: 1px solid black;
    }

    .menufinal{
        grid-area: redes;
        @include margen-footer(10vh, 2%);
        display: flex;
        align-items: center;

        .menufinal-item{
            margin: 0px 5px;

            .logofinal{
                @include bloque-img($logofinal_size, $logofinal_size, 1px, black);
            }
            .textofooter{
                font-size: 60%;
            }
        }
        .menufinal-item:hover{
            font-weight: bold;
        }
    }

    .qr-container{
        grid-area: qr;
        @include center-center();
        @include bloque-img($qrfinal_size, $qrfinal_size, 1px, black);

        .qr-item{
            width: 100%;
            height: 100%;
            // CREO QUE ACA TENGO QUE USAR MIXIN heigh width //

            .logoqrfinal{
                width: 100%;
                height: 100%;
                // CREO QUE ACA TENGO QUE USAR MIXIN heigh width //
            }
            
        }
    }

    .play-container{
        grid-area: play;

        .play{
            width: 100%;
            height: 100%;
            display: flex;
            @include center-center();
            // CREO QUE ACA TENGO QUE USAR MIXIN heigh width //
        }
        
        .playimg{
            @include bloque-img($logofinal_size, $logofinal_size, 1px, black);
        }
    }
}
//esto va comentado por las dudas esta en mixin//
