@keyframes flash {
    0%{opacity: 0.5;}
    50%{opacity: 0.75;}
    100%{opacity: 1;}
}

@keyframes rotarota {
    0%{transform: rotatey(0deg);}
    33%{transform: rotatey(90deg);}
    66%{transform: rotatey(180deg);}
    100%{transform: rotatey(359deg);}
}

@keyframes desplazamiento0 {
    0%{transform: translateX(0%);}
    100%{transform: translateX(100%);}
}

@keyframes desplazamiento1 {
    0%{transform: translateX(0%);}
    100%{transform: translateX(-100%);}
}