.indexintro{
    font-size: 105%;
}

.indeximag-conteiner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
.indeximag{
    width: 100%;
    height: 100%;
}
.indeximag-item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.indeximag-item10{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}
