@mixin margen-footer($left, $top){
    margin-left: $left;
    margin-top: $top;
}

@mixin alineaciones($justi, $aling, $spacing){
 diplay:flex;
}

@mixin bloque-img($alto, $ancho, $borde, $color){
    height: $alto;
    width: $ancho;
    border: $borde solid $color;
}

@mixin center-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin color-icon(){
    color: $color_redes;
}

@mixin despla ($x-init, $direcc, $time, $ola-alto, $capa){
    display: flex;
    position: relative;
    left: $x-init;
    bottom: (calc($ola-alto*$capa));
    margin: 0;
    width: 100%;
    opacity: $ola-opacity;



    
    @if $direcc == 0 {
        animation-name: desplazamiento0;
    }@if $direcc == 1 {
        animation-name: desplazamiento1;
    }    
    animation-timing-function: ease-in;
    animation-duration: $time;
    animation-iteration-count: infinite;
}