.restosintro{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5%;
}

.restosmapa{ 
    font-size: 1rem;
    font-weight: bold;
}



.restoslistado-conteinter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .restoslistado-item{
        width: $altura_listado_r;
        height: $altura_listado_r;
        margin: 1rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.13);
        // CREO QUE ACA TENGO QUE USAR MIXIN heigh width //

        .restoslistado-img{
            height: 100%;
            width: 100%;
            // CREO QUE ACA TENGO QUE USAR MIXIN heigh width //
        }
    }
    
    .restoslistado-item:hover{
        animation-name: flash;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }
}


.carousel{
    width: 30%;
}
